body {
    background-color: #0A0A0A;
}

label {
    font-size: 32px;
    padding-right: 10px;
    color: #F5F5F5;
}

input {
    font-size: 22px;
}

button {
    font-size: 22px;
    background-color: #DD6E42;
    padding: 10px 20px;
    border-radius: 10px;
}

.timer {
    font-size: 180px;
    text-align: center;
    color: #F5F5F5;
}

.input-container {
    margin: 20px;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    text-align: center;
}